<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="./style/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <title>Find The Document!</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light container-fluid bg-dark my-6">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-info font-weight-bold" href="/"> Home <span class="sr-only">(current)</span></a>
          <a href="/AboutUs" class="nav-link text-info">About Us</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid" id="main-section">
      <h1 class="text-title text-light">Documents Search Engine</h1>
      <!-- Search Bar -->
      <div class="form-group  my-2 mx-8 text-center container">
        <div class="row">
          <form class="form-inline my-2" id="main-search">
            <input class="form-control mr-sm-2  rounded-pill col-sm-11" type="search" placeholder="Search" aria-label="Search" id="main-search-bar">
            <button class="btn btn-outline-info my-2 my-sm-0 rounded-pill col-sm-1" type="button" id="main-search-button"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>

    <!-- Result section -->
    <div class="container-fluid text-light bg-dark" id="result-header"></div>


    <!-- Upload file section -->
    <div class="second-section bg-dark text-light">
      <h6>or</h6>
      <h3>Upload Documents</h3>
      <div class="container-fluid">
          <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="upload-section">
                  <label for="fileHandler" class="bg-info text-light"><i class="fas fa-file-upload fa-4x"></i><p id="custom-message">Choose a file</p></label>
                  <span id="selected-file-span"></span>
                  <input class='form-control-file' type="file" name="fileHandler" hidden id="fileHandler">
                  <input type="submit" value="Upload" id="file-submit" class="bg-info text-light"></div></form>
              </div>
          </form>
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="./javascript/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>